#кэши зависимостей
/node_modules
/packages

# скомпилированный код
.о
.рус
.class

#каталоги для выходных форм
/bin
/out
/target

#файлы, сгенерированные во время выполнения
.log
.lock
.tmp

#скрытые системыне файлы
.DB_Store
Thumbs.db

#личные файлы конфигурации
.config